/*general*/
body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: hsla(236, 43%, 62%, 1);

  background: linear-gradient(
    270deg,
    hsla(236, 43%, 62%, 1) 0%,
    hsla(236, 57%, 68%, 1) 11.11111111111111%,
    hsla(236, 79%, 75%, 1) 22.22222222222222%,
    hsla(239, 100%, 81%, 1) 33.33333333333333%,
    hsla(244, 100%, 83%, 1) 44.44444444444444%,
    hsla(250, 100%, 84%, 1) 55.55555555555556%,
    hsla(260, 97%, 85%, 1) 66.66666666666666%,
    hsla(271, 92%, 85%, 1) 77.77777777777777%,
    hsla(270, 91%, 86%, 1) 88.88888888888889%,
    hsla(271, 90%, 88%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(236, 43%, 62%, 1) 0%,
    hsla(236, 57%, 68%, 1) 11.11111111111111%,
    hsla(236, 79%, 75%, 1) 22.22222222222222%,
    hsla(239, 100%, 81%, 1) 33.33333333333333%,
    hsla(244, 100%, 83%, 1) 44.44444444444444%,
    hsla(250, 100%, 84%, 1) 55.55555555555556%,
    hsla(260, 97%, 85%, 1) 66.66666666666666%,
    hsla(271, 92%, 85%, 1) 77.77777777777777%,
    hsla(270, 91%, 86%, 1) 88.88888888888889%,
    hsla(271, 90%, 88%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(236, 43%, 62%, 1) 0%,
    hsla(236, 57%, 68%, 1) 11.11111111111111%,
    hsla(236, 79%, 75%, 1) 22.22222222222222%,
    hsla(239, 100%, 81%, 1) 33.33333333333333%,
    hsla(244, 100%, 83%, 1) 44.44444444444444%,
    hsla(250, 100%, 84%, 1) 55.55555555555556%,
    hsla(260, 97%, 85%, 1) 66.66666666666666%,
    hsla(271, 92%, 85%, 1) 77.77777777777777%,
    hsla(270, 91%, 86%, 1) 88.88888888888889%,
    hsla(271, 90%, 88%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#757bc8", endColorstr="#8187dc", GradientType=1 );
  overflow: hidden;
}

h2, h3 {
  color: white;
}
p {
  padding: 0.2em;
  margin: 0;
}

button {
  cursor: pointer;
}

textarea{
  resize: none;
  min-height: 4em;
}

.main {
  display: flex;
  height: 100vh;
}

/*wrapper for left part of the app: list and new workplaces*/
.workplaces-wrapper {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Workplace form styling*/
.workplace-form {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workplace-form h1 {
  color: white;
  margin: 0.5em;
}
/*list workplaces*/
.list-workplaces {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 1em;
  overflow-y: scroll;
  
}

.list-workplaces > button {
  width: 75%;
  word-wrap: break-word;
  border: 0;
  border-radius: 0.4em;
  padding: 0.8rem;
}

.btn-list-workplaces {
  background-color: white;

}
/*active class for buttons*/
.active{
  background-color: #5E69CC;
  color: white;
}

.btn-list-workplaces:hover {
  background-color:rgb(224, 224, 224) ;
}

.active:hover{
  background-color: #535db4;
}

/*same style for most buttons in the app */
.workplace-form-title,
.btn-add-workplace,
.btn-add-todo,
.btn-modify,
.btn-remove,
.btn-remove-workplace {
  border-radius: 2rem;
  width: 50%;
  border: 0;
  height: 10%;
  margin: 1rem;
  text-align: center;
  background-color: white;
}
/*form workplace */
.workplace-form-title {
  width: 80%;
}

.workplace-form-title::placeholder {
  font-style: italic;
}

/*same style for multiple buttons*/
.btn-modify, .btn-remove {
  box-sizing: border-box;
  width: 1.7em;
  height: 1.7em;
  border-radius: 0.5rem;
  margin: 0.1em;
  padding: 0.35em;
  cursor: pointer;
}

.btn-add-workplace:hover,
.btn-add-todo:hover,
.btn-modify:hover,
.btn-remove:hover,
.btn-remove-workplace:hover{
  background-color: rgba(255, 255, 255, 0.685);
}

.btn-modify:hover, .btn-remove:hover {
  transform: scale(1.1);
}

/*display of workplaces */
.class-display {
  width: 80%;
  gap: 1em;
  padding: 1em;
  overflow-y: scroll;
}

/*individual workplaces */
.workplace-display {
  min-height: 70%;
  margin: 1em;
  border: 1.5px solid black;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  padding: 3.5em 1em;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.37);
  position: relative;
}

/*button adding to do in workplace display */
.btn-add-todo {
  border-radius: 100%;
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
  padding: 0.2em 0.5em;
  position: absolute;  
  left: 90%;
  bottom: 0;
}

.btn-remove-workplace{
  font-size: 1em;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 0.8em;
  position: absolute;  
  left: 68%;
  bottom: 0%;
}

.btn-add-todo:hover, .btn-remove-workplace:hover {
  transform: scale(1.1);
  transition: transform 200ms;
}

/*button removing the workplace and todos */
.btn-close-workplace {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.1em solid white;
  color: white;
  border-radius: 25%;
  top: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

/* to do card inside each workplace*/
.todo-display {
  background-color: #757bc8;
  box-shadow: 0px 0px 12px 3px #757ac8b7;
  height: 75%;
  width: 20%;
  border: 2px solid black;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  color: white;
  position: relative;
}

.todo-title {
  font-style: italic;
  font-size: 1.4em;
}
.todo-display p {
  text-align: center;
  inline-size: 100%;
  overflow-wrap: break-word;
}

/*close button on hover */
.btn-close-workplace:hover {
  background-color: rgba(3, 3, 3, 0.829);
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

/*form for to-dos*/

.form-div {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 60%;
  width: 20%;
  padding: 40px;
  border: 2px solid rgba(255, 255, 255, 0.678);
  border-radius: 4px;
  background-color: #60616e;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*form for the to dos*/
.form-add-to-do,
.form-modify-to-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-add-to-do input,
.form-add-to-do textarea,
.form-modify-to-do input,
.form-modify-to-do textarea {
  height: 2.5em;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: black;
  font-size: 1.2em;
}

.text-description, .modify-text-description {
  height: 150px;
  width: 250px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.form-add-to-do input::placeholder,
.form-add-to-do textarea::placeholder,
.form-modify-to-do input::placeholder,
.form-modify-to-do::placeholder {
  color: black;
}

.form-add-to-do textarea,
.form-add-to-do textarea::placeholder,
.form-modify-to-do textarea,
.form-modify-to-do::placeholder {
  opacity: 1;
  font-weight: bold;
}

.form-add-to-do button,
.form-modify-to-do button {
  border: 0;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  width: fit-content;
  font-weight: bold;
}


.form-add-to-do button:hover,
.form-modify-to-do button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* scrollbars */
/* width */
::-webkit-scrollbar {
  width: 0.7em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#757bc8", endColorstr="#8187dc", GradientType=1 );

  margin: 0.2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.7);
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
}
